[Unit]
Description=Controller for a litter box
After=local-fs.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=root
ExecStart=/usr/local/bin/litter-controller

[Install]
WantedBy=multi-user.target
